// ================================
// Colors
// ================================

// --------------------------------
// Color Map
// --------------------------------

$colors: (
  black: #2C3E50,
  white: #fff
);
