// Cleaned up and SASS-ified from: https://github.com/daneden/Toast/blob/master/scss/_grid.scss

$columns: map-get($config, grid-columns); // total number
$gutters: map-get($config, grid-gutters); // REM

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: #{$gutters}rem;
  padding-left: #{$gutters}rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -#{$gutters / 4}rem;
  margin-left: -#{$gutters / 4}rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

@mixin col($i: 0, $z: false) {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  flex-basis: percentage($i / $columns);
  max-width: 100%;
  max-width: percentage($i / $columns);
  padding-right: #{$gutters / 4}rem;
  padding-left: #{$gutters / 4}rem;


  @if $z == start {
    justify-content: flex-start;
    text-align: start;
  }

  @if $z == center {
    justify-content: center;
    text-align: center;
  }

  @if $z == end {
    justify-content: flex-end;
    text-align: end;
  }

  @if $z == top {
    align-items: flex-start;
  }

  @if $z == middle {
    align-items: center;
  }

  @if $z == bottom {
    align-items: flex-end;
  }

  @if $z == around {
    justify-content: space-around;
  }

  @if $z == between {
    justify-content: space-between;
  }

  @if $z == first {
    order: -1;
  }

  @if $z == last {
    order: 1;
  }
}

@mixin offset($i: 0) {
  margin-left: percentage($i / $columns);
}