// Cleaned up and SASS-ified from: https://github.com/daneden/Toast/blob/master/scss/_grid.scss

$column-defaults: map-get($config, grid-columns); // total number
$gutter-defaults: map-get($config, grid-gutters); // REM value

@mixin row($reverse: false) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  @if $reverse {
    flex-direction: row-reverse;
  }
}

@mixin col($span: 1, $type: false, $number: $column-defaults, $gutter: $gutter-defaults) {
  flex: 0 0 calc(#{((100% - $gutter * ($number - $span)) / $number) * $span});

  @if $type == grow {
    flex-grow: 1;
  }

  @if $type == reverse {
    flex-direction: column-reverse;
  }

  @if $type == start {
    justify-content: flex-start;
    text-align: start;
  }

  @if $type == center {
    justify-content: center;
    text-align: center;
  }

  @if $type == end {
    justify-content: flex-end;
    text-align: end;
  }

  @if $type == top {
    align-items: flex-start;
  }

  @if $type == middle {
    align-items: center;
  }

  @if $type == bottom {
    align-items: flex-end;
  }

  @if $type == around {
    justify-content: space-around;
  }

  @if $type == between {
    justify-content: space-between;
  }

  @if $type == first {
    order: -1;
  }

  @if $type == last {
    order: 1;
  }
}

// @mixin offset($width: 0) {
//   margin-left: percentage($width / $columns);
// }