// ================================
// Variables
// ================================
$config: (
  // Gutters
  gutter-base:   rem(map-get($defaultConfig, gutter-base)),
  gutter-medium: rem(map-get($defaultConfig, gutter-medium)),
  gutter-large:  rem(map-get($defaultConfig, gutter-large)),

  // Rows Max-Width
  max-width-default: rem(map-get($defaultConfig, mq-xlarge)),
  max-width-small:   rem(map-get($defaultConfig, mq-mini)),
  max-width-medium:  rem(map-get($defaultConfig, mq-small)),
  max-width-large:   rem(map-get($defaultConfig, mq-medium)),
  max-width-xlarge:  rem(map-get($defaultConfig, mq-large)),
  max-width-xxlarge:  rem(map-get($defaultConfig, mq-xlarge)),

  // Animation
  cubic:       cubic-bezier(0.63, 0.64, 0.3, 1),
  timing:      500ms,
  timing-fast: 350ms,

  // Media Queries - min-width
  mq-mini:     "(min-width: #{em(map-get($defaultConfig, mq-mini))})",
  mq-small:    "(min-width: #{em(map-get($defaultConfig, mq-small))})",
  mq-medium:   "(min-width: #{em(map-get($defaultConfig, mq-medium))})",
  mq-large:    "(min-width: #{em(map-get($defaultConfig, mq-large))})",
  mq-xlarge:   "(min-width: #{em(map-get($defaultConfig, mq-xlarge))})",
  mq-xxlarge:  "(min-width: #{em(map-get($defaultConfig, mq-xxlarge))})",
  mq-xxxlarge: "(min-width: #{em(map-get($defaultConfig, mq-xxxlarge))})",

  // Media Queries - max-width
  mq-max-tiny:    "(max-width: #{em(map-get($defaultConfig, mq-mini) - 1px)})",
  mq-max-mini:    "(max-width: #{em(map-get($defaultConfig, mq-small) - 1px)})",
  mq-max-small:   "(max-width: #{em(map-get($defaultConfig, mq-medium) - 1px)})",
  mq-max-medium:  "(max-width: #{em(map-get($defaultConfig, mq-large) - 1px)})",
  mq-max-large:   "(max-width: #{em(map-get($defaultConfig, mq-xlarge) - 1px)})",
  mq-max-xlarge:  "(max-width: #{em(map-get($defaultConfig, mq-xxlarge) - 1px)})",
  mq-max-xxlarge: "(max-width: #{em(map-get($defaultConfig, mq-xxxlarge) - 1px)})",

  mq-print: "print"
);

// Merge these settings with the JSON & app data
$config: map-merge($defaultConfig, $config);