// ================================
// Variables
// ================================
$config: (
  // Gutters
  gutter-base:   map-get($defaultConfig, gutter-base),
  gutter-medium: map-get($defaultConfig, gutter-medium),
  gutter-large:  map-get($defaultConfig, gutter-large),

  // Rows Max-Width
  max-width-default: rem(map-deep-get($defaultConfig, mq, mq-xlarge)),
  max-width-small:   rem(map-deep-get($defaultConfig, mq, mq-mini)),
  max-width-medium:  rem(map-deep-get($defaultConfig, mq, mq-small)),
  max-width-large:   rem(map-deep-get($defaultConfig, mq, mq-medium)),
  max-width-xlarge:  rem(map-deep-get($defaultConfig, mq, mq-large)),
  max-width-xxlarge:  rem(map-deep-get($defaultConfig, mq, mq-xlarge)),

  // Media Queries - min-width
  mq-tiny:     "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-tiny))})",
  mq-mini:     "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-mini))})",
  mq-small:    "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-small))})",
  mq-medium:   "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-medium))})",
  mq-large:    "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-large))})",
  mq-xlarge:   "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-xlarge))})",
  mq-xxlarge:  "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-xxlarge))})",
  mq-xxxlarge: "(min-width: #{em(map-deep-get($defaultConfig, mq, mq-xxxlarge))})",

  // Media Queries - max-width
  mq-max-tiny:    "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-mini) - 1px)})",
  mq-max-mini:    "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-small) - 1px)})",
  mq-max-small:   "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-medium) - 1px)})",
  mq-max-medium:  "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-large) - 1px)})",
  mq-max-large:   "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-xlarge) - 1px)})",
  mq-max-xlarge:  "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-xxlarge) - 1px)})",
  mq-max-xxlarge: "(max-width: #{em(map-deep-get($defaultConfig, mq, mq-xxxlarge) - 1px)})",

  mq-print: "print"
);

// Merge these settings with the JSON & app data
$config: map-merge($defaultConfig, $config);
